<!DOCTYPE html>
<html>
<head>
    <title>AMD</title>
    <link rel="stylesheet" href="/lib/css/lib.scss">
	<link rel="stylesheet" href="/lib/css/main.scss">
	<script type="text/javascript" src="/lib/js/require.js"></script>
</head>
<body>
	<h1>这是首页配置1</h1>
	<link rel="import" href="/views/public/nav.html?__inline">
	<h3 id='btn'>
		<strong>这是测试</strong>
		测试内容
	</h3>
	<div class='div1'>div1</div>
	<div class='div2'>div2</div>
	<div class='div3'>div3</div>
	<div class='div4'>div4</div>
    <p> Hello, World. </p>
    <button id="btn">load async js</button>
    <script type="text/javascript" src='/lib/js/main2.js'></script>
</body>
</html>
